$color-1: #eeeeee;

.container { 
    background-color: $color-1;
    height: 100%;
}

.btn-circle {
    width: 30px;
    height: 30px;
    padding: 6px 0px;
    border-radius: 15px;
    text-align: center;
    font-size: 12px;
    line-height: 1.42857;
}

.wrapper {
    text-align: center;
}

header {
    text-align: center;
}