<div class="wrapp">
    <div class="bg-dark">
        <br>
            <header>
                <h2 class="text-white">TODO LIST</h2>
            </header>
        <hr>
    </div>
    <div class="container">
        <div *ngFor="let todo of todos" class="row">
            <div class="col-lg-2 p-1">
                <div *ngIf="!this.todo.completedAt" class="form-control">{{ this.todo.createdAt | date: 'short' }}</div>
                <div *ngIf="this.todo.completedAt" class="form-control bg-success text-white">{{ this.todo.completedAt | date: 'short'}}</div>
            </div>
            <div class="col-lg-4 p-1">
                <div *ngIf="!this.todo.completedAt" class="form-control">{{ this.todo.title }}</div>
                <div *ngIf="this.todo.completedAt" class="form-control bg-success text-white">{{ this.todo.title }}</div>
            </div>
            <div class="col-lg-4 p-1">
                <div *ngIf="!this.todo.completedAt" class="form-control">{{ this.todo.text }}</div>
                <div *ngIf="this.todo.completedAt" class="form-control bg-success text-white">{{ this.todo.text }}</div>
            </div>
            <div class="col-lg-2">
                <div class="btn-group">
                    <div class="p-1 pt-2">
                        <button type="button" (click)="open('delete', todo.id)" class="btn btn-danger text-white btn-circle fas fa-eraser"></button>
                    </div>
                    <div class="p-1 pt-2">
                        <button *ngIf="!this.todo.completedAt" type="button" (click)="Edit(this.todo.id)" routerLink="/todoform" class="btn btn-warning text-white btn-circle fas fa-edit"></button>
                        <button *ngIf="this.todo.completedAt" type="button" routerLink="/todoform" class="btn btn-warning text-white btn-circle fas fa-edit" disabled></button>
                    </div>
                    <div class="p-1 pt-2">
                        <button *ngIf="!this.todo.completedAt" (click)="open('complete', todo.id)" type="button" class="btn btn-success text-white btn-circle fas fa-check"></button>
                        <button *ngIf="this.todo.completedAt" type="button" class="btn btn-success text-white btn-circle fas fa-check" disabled></button>
                    </div>
                </div>
            </div>
        </div>
        <div class="row p-2">
            <div class="col wrapper">
                <button routerLink="/todoform" type="button" class="btn btn-dark text-white btn-circle fas fa-plus" data-toggle="button"></button>
            </div> 
        </div>
    </div>
</div>