
<div class="modal-header">
    <h4 class="modal-title" id="title">{{ title }}</h4>
    <button type="button" class="close fas fa-times-circle" aria-label="Close" (click)="activeModal.dismiss('Cross click')"></button>
</div>
<div class="modal-body">
    <div class="row">
        <div class="col-sm btn-group">
            <button type="button" (click)="passBack(); activeModal.dismiss()" class="btn btn-secondary text-white">{{ btn }}</button>
        </div>
    </div>
</div>
    
   

