<div class="bg-dark">
    <br>
        <header>
            <h2 class="text-white text-center">TODO LIST</h2>
        </header>
    <hr>
</div>
<div class="container">
  <form [formGroup]="addToForm" (ngSubmit)="Submit() ;EditSubmit()">
    <div class="form-group">
        <label for="formControlInput1"><h5 class="text-dark">Title: </h5></label>
        <input type="text" class="form-control" id="title" formControlName="title" placeholder="Title">
        <span
            *ngIf="!addToForm.get('title').valid && addToForm.get('title').touched"
            class="help-block"
            >
              "Please enter valid title."
        </span>
    </div>
    <div class="form-group">
        <label for="formControlTextarea1"><h5 class="text-dark">Text: </h5></label>
        <textarea class="form-control" id="text" formControlName="text" rows="3" placeholder="Text"></textarea>
    </div>
    <div class="row">
        <div class="col-sm btn-group">
          <button type="button" routerLink="/todolist" class="btn btn-danger text-white btn-circle fas fa-backspace" placement="top" ngbTooltip="BACK!"></button>
          <button type="button" (click)="Submit()" *ngIf="this.addToForm.valid && this.editMode === false" class="btn btn-success text-white btn-circle fas fa-plus" placement="top" ngbTooltip="ADD TODO!"></button>
          <button type="button" (click)="EditSubmit()" *ngIf="this.addToForm.valid && this.editMode === true" class="btn btn-warning text-white btn-circle fas fa-plus" placement="top" ngbTooltip="EDIT TODO!"></button>
        </div>
    </div>
  </form>
</div>
